 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>M. Yudha Abhista</h1>
      <p>I'm a <span class="typed" data-typed-items="Backend, Java, Go, TypeScript, JavaScript, Python, Minecraft"></span> Developer</p>
      
      <div class="social-links">
        <a href="https://discord.com/users/325258033523458049" target="_blank"  class="discord"><i class="bx bxl-discord"></i></a>
        <a href="https://github.com/NotYusta" target="_blank"  class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.facebook.com/NotYusta/" target="_blank"  class="facebook"><i class="bx bxl-facebook"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About</h2>
          <p>
            I'm a fullstack developer, i'm addicted to develope things since the pandemic start, i started learning java and make minecraft plugins, 
            and go, javascript, typescript, i learned them by watching short youtube videos from 
            <a href="https://www.youtube.com/c/Fireship" target="_blank">Fireship</a> i have made and freelanced 100+ projects in 1 year and half.
          </p>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Facts</h2>
          <p>I have completed many projects as expected, i provide the best quality and optimized code as possible as i can</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>I have learned many programming languages, learning a new one isn't difficult.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Javascript <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Typescript <i class="val">83%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Java <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Kotlin <i class="val">78%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="progress">
              <span class="skill">Bash <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Go <i class="val">82%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">C++ (brainkiller)<i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">C# <i class="val">72%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>I have created 100+ Projects including my personal and freelance projects, i change my code better and better in time to improve my skills.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-minecraft">Minecraft</li>
              <li data-filter=".filter-bot">Bot</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-minecraft">
            <div class="portfolio-wrap">
              <img src="assets/img/projects/pakgm/auto-enchant.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Auto Enchant</h4>
                <p>Plugin</p>
                <div class="portfolio-links">
                  <a href="https://www.youtube.com/watch?v=pJpP1CHtm8o" target="_blank" title="Minecraft Plugin - Auto Enchant (PakGM)"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-minecraft">
            <div class="portfolio-wrap">
              <img src="assets/img/projects/pakgm/alucard-sword.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Alucard Sword</h4>
                <p>Plugin</p>
                <div class="portfolio-links">
                  <a href="https://www.youtube.com/watch?v=Q9IEUWSnCkU" target="_blank" title="Plugin"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-minecraft">
            <div class="portfolio-wrap">
              <img src="assets/img/projects/pakgm/movement-buff.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Movement Buff</h4>
                <p>Plugin</p>
                <div class="portfolio-links">
                  <a href="https://www.youtube.com/watch?v=U6RJhUdUg2g" target="_blank" title="Movement Buff"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/projects/dapur-frozchick/dapur-frozchick.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Landing Page</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/projects/dapur-frozchick/dapur-frozchick.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landing Page"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/projects/raznar/raznar-hosting.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Landing Page</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/projects/raznar/raznar-hosting.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Landing Page"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-bot">
          <div class="portfolio-wrap">
            <img src="assets/img/projects/orume/ticket-bot.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Ticket Bot</h4>
              <p>Bot</p>
              <div class="portfolio-links">
                <a href="assets/img/projects/personal/payment-bot.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ticket Bot"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
        
          <div class="col-lg-4 col-md-6 portfolio-item filter-bot">
            <div class="portfolio-wrap">
              <img src="assets/img/projects/irham/store-bot.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Store Bot</h4>
                <p>Bot</p>
                <div class="portfolio-links">
                  <a href="assets/img/projects/irham/store-bot.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Store Bot"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 portfolio-item filter-bot">
            <div class="portfolio-wrap">
              <img src="assets/img/projects/personal/payment-bot.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Payment Bot</h4>
                <p>Bot</p>
                <div class="portfolio-links">
                  <a href="assets/img/projects/personal/payment-bot.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Payment Bot"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>


        </div>
      </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/persons/pakgm.jpg" class="testimonial-img" alt="">
                <h3>PakGM</h3>
                <a href="https://www.youtube.com/watch?v=pJpP1CHtm8o"><h4>Contect Creator</h4></a>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Mantapp
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/persons/irham.png" class="testimonial-img" alt="">
                <h3>TheIrham</h3>
                <a href="https://fivem.id"><h4>Store Owner</h4></a>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Well done service and hosting services, Ratings: 5 out of 5 stars.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/persons/yack.png" class="testimonial-img" alt="">
                <h3>Yack</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    The bot is great, fast response, anyway it's the best
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

