  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>M. Yudha Abhista</h3>
      <p>A geek & professional developer. loves to create things.</p>
      <div class="social-links">
        <a href="https://discord.com/users/325258033523458049" target="_blank"  class="discord"><i class="bx bxl-discord"></i></a>
        <a href="https://github.com/NotYusta" target="_blank"  class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.facebook.com/NotYusta/" target="_blank"  class="facebook"><i class="bx bxl-facebook"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Yusta</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->